<h1>About</h1>
<p>This Video chat App help to record the conversation and it seamlessly translate the voice into Text which helps to have the note of the talk in future.</p>
<script type="text/javascript">document.getElementById('about').className='in';</script>
