<div class="jumbotron text-center text-custom-color-darkbrown">
    <h1 class="display-3">Choose Mode:</h1>
    <a href="/peer/demo" class="btn btn-dark btn-lg">Demo!</a>
    <a href="/peer/complete" class="btn btn-dark btn-lg">Complete!</a>

</div>
<script type="text/javascript">document.getElementById('home').className='in';</script>
