<div class="jumbotron text-center text-custom-color-darkbrown">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">With this app you can Have the track of Your Videocall</p>
    <a href="" class="btn btn-dark btn-lg">Have conversation freely!</a>
</div>
<script type="text/javascript">document.getElementById('home').className='in';</script>
